#main {
	width: 1000px;
	height: 800px;
	background-color: #7B68EE;
	position: absolute;
	overflow: hidden;
}

#drone {
	top: 250px;
	left: 0px;
	width: 150px;
	height: 97px;
	position: absolute;
	z-index: 100;
}

#bang {
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 101;
	visibility: hidden;
}